body{
background-color: darksalmon;
background-size: cover;
background-position: center;
font-family: Arial, Helvetica, sans-serif;
}

.login{
    background-repeat: ;
    background: rgb(red, green, blue);
    border-radius: 10px;

}